In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("inflection-point-numbers.xlsx")
df.head()

    Data
0  10071
1   8297
2   5356
3   4767
4   4745

In [4]:
data_array = df.values
data_array = [item for sublist in data_array for item in sublist]
print(data_array[:5])

[10071, 8297, 5356, 4767, 4745]

In [5]:
def inflection(data):
    first_order = np.gradient(data)
    second_order = np.gradient(first_order)
    inflection = min(second_order, key=abs)
    index_of_inflection = np.where(second_order==inflection)
    return [data[index_of_inflection[0][0]], index_of_inflection[0][0]]
    
inflection(data_array)

[280, 44]